---
name: Release

on:
  workflow_call:
    inputs:
      disable-semantic-release-git:
        description: Disable @semantic-release/git in your release flow. Only takes effect if the action semantic-release config is used.
        type: boolean
        default: false

# Only allow one release workflow to execute at a time, since each release
# workflow uses shared resources (git tags, package registries)
concurrency:
  group: ${{ github.workflow }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Release
        uses: semantic-release-action/github-actions/semantic-release@6c14113c1273619fccad11d7638b2c9e985e9085 # v5.0.26
        with:
          disable-semantic-release-git: ${{ inputs.disable-semantic-release-git }}
